html, body, .grid-container {
    height: 40%;
    margin-left: 25;
    background-color: lightblue;
    position: center;
}

#header {
    border: 1px solid #b5b7ba;
    background-color: rgb(89, 143, 161);
    min-width: 1220px;
    height: 40px;
    gap: 20px 30px;
    text-align: center;
    padding-top: 18px;
}

#header #selected {
    color: #000;
}

#center {
    width: 1280px;
    margin: 0 auto;
}
#bas_blok {
    align-items: center;
    margin: 0 auto;
    gap: 20px 30px;
}

#header a {
    color: #4d4d4d;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    display: inline-block;
}

#header span {
    padding: 0 38px;
}

footer {
    min-height: 140px;
    line-height: 140px;
    background-color: #434445;
    color: #a4a4a4;
    font-size: 20px;
    font-style: italic;
    text-align: center;
}

#footer a {
    color: inherit;
}


.grid-container {
    display: grid;
    position: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 30px;
    grid-template-areas: "İnformatika-1 İnformatika-2 İnformatika-3 İnformatika---4" "İnformatika---5 İnformatika---6 İnformatika---7 İnformatika---8" "İnformatika---9 İnformatika---10 İnformatika---11 .";
}

.İnformatika-1 {
    grid-area: İnformatika-1;
}

.İnformatika-2 {
    grid-area: İnformatika-2;
}

.İnformatika-3 {
    grid-area: İnformatika-3;
}

.İnformatika---4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 0px;
    grid-template-areas: ". . ." ". . .";
    grid-area: İnformatika---4;
}

.İnformatika---5 {
    grid-area: İnformatika---5;
}

.İnformatika---6 {
    grid-area: İnformatika---6;
}

.İnformatika---7 {
    grid-area: İnformatika---7;
}

.İnformatika---8 {
    grid-area: İnformatika---8;
}

.İnformatika---9 {
    grid-area: İnformatika---9;
    position: center;
}

.İnformatika---10 {
    grid-area: İnformatika---10;
}

.İnformatika---11 {
    grid-area: İnformatika---11;
}

/* For presentation only, no need to copy the code below */

.grid-container * {
    border: 1px solid rgb(219, 214, 214);
    position: relative;
}

.grid-container *:after {
    content: attr(class);
    position: center;
    top: 0;
    left: 0;
}